# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
**.so*
*.so.84.0.1
*.dylib
*.dll
*.mri

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.pc
main
MSSingleScan
COPYING
AUTHORS
changelog
*.log
zlib.3
external/zlib-1.3.1